<!DOCTYPE html>
<html>
  <head>
    <title>Rails7DockerApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/a1ff8f1340.js" crossorigin="anonymous"></script>
  </head>

  <body class = "prose max-w-none">
    <%= yield %>
  </body>
</html>
